@font-face {
	font-family: "MontserratRegular";
	src: url('fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family: MontserratBold;
	src: url('fonts/Montserrat-Bold.ttf');
}
@font-face {
	font-family: MontserratLight;
	src: url('fonts/Montserrat-Light.ttf');
}

body,
a, p, span, strong, div {
	font-family: "MontserratRegular", Tahoma, sans-serif;
}
h1 {
	font-size: 20px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 14px;
}
h1, h2, h3, h4, h5 {
	font-weight: 700;
}
a {
	color: #484848;
}
a:hover {
	color: #6e6e6e;
	text-decoration: none;
}
dl, ol, ul {
	list-style-type: none;
	padding-left: 0;
}
.header-wrap,
.footer-wrap {
	color: #ffffff;
	padding: 10px 0;
}
.header-wrap {
	background: #16181f;
	padding-top: 0;
	border-bottom: 3px solid #d1213e;
}
.footer-wrap {
	background: #32333d;
}
.footer-links-wrap {
	background-color: #202128;
	border-top: 3px solid #d1213e;
}
.footer-links p,
.footer-links h3,
.footer-links a {
	color: #b9babc;
}
.footer-links-item {
	margin: 20px 0;
}
.footer-links-item h3 {
	margin-bottom: 30px;
}
.footer-links-item a:hover {
	color: #d1213e;
}
.top-menu-wrap {
	background: #f5f8fa;
}
.logo,
.logo img {
	max-width: 150px;
}
.page-container {
	/*margin-top: 10px;*/
	margin-bottom: 20px;
}

.top-header {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #20212b;
}
.header-links {
	margin-bottom: 0;
	display: inline-block;
	line-height: 38px;
}
.header-links li {
	display: inline-block;
	margin-right: 15px;
	font-size: 12px;
}
.header-links li:last-child {
	margin-right: 0px;
}
.header-links li a {
	color: #FFF;
}
.header-links li a:hover {
	color: #d1213e;
}
.header-links li i {
	color: #d1213e;
	margin-right: 5px;
}


.header-search {
	display: inline-block;
	max-width: 400px;
}

.header-search > form {
	position: relative;
}

.header-search > form .search-input {
	padding-left: 10px;
	padding-right: 45px;
}
.header-search .input {
	width: 100%;
	height: 40px;
	padding: 0px 15px;
	border: none;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
	box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
}

.header-search > form .search-btn {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: none;
}


.errors-danger strong {
	color: #cb3b27;
}

.admin.page-container {
	padding-top: 20px;
}
.admin-wrap .panel-body {
	line-height: 34px;
}
.admin-wrap .panel-menu ul {
	background-color: aliceblue;
	margin-top: 10px;
}
.admin-wrap .panel-menu ul li {
	display: inline-block;
}
.admin-wrap .panel-menu ul li a {
	display: inline-block;
	padding: 10px;
}
.admin-wrap .panel-menu ul li:hover {
	background-color: #939ca0;
}
.admin-wrap .panel-menu ul li:hover a {
	color: #ffffff;
}
.admin-list-wrap h2 {
	margin-top: 20px;
}
.additional-links {
	opacity: 0;
	margin: 0 10px;
}
.admin-list-item {
	padding: 10px 0;
	padding-left: 10px;
}
.admin-list-item:hover {
	background-color: #f5f8fa;
}
.admin-list-item:hover .additional-links {
	opacity: 1;
	-webkit-transition: opacity .2s ease;
	-moz-transition: opacity .2s ease;
	-ms-transition: opacity .2s ease;
	-o-transition: opacity .2s ease;
	transition: opacity .2s ease;
}
.top-menu {
	list-style-type: none;
	margin:0;
	padding:0;
	text-align:center;
}
.top-menu-item {
	display: inline;
}
.top-menu-item a {
	display: inline-block;
	text-decoration: none;
	color: #295e66;
	padding: 7px 20px;
}
.top-menu-item a:hover {
	background-color: #295e66;
	color: #ffffff;
}
.catalog-menu-title,
.product-description h3,
.product-title,
.search-description {
	margin-bottom: 10px;
	position: relative;
	padding-bottom: 3px;
}
.catalog-menu-title:after,
.product-description h3:after,
.product-title:after,
.search-description:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-bottom: 3px solid #afafaf;
}
.catalog-menu-title span,
.product-description h3 span,
.product-title strong,
.search-description h4 {
	text-transform: uppercase;
	position: relative;
	padding-bottom: 6px;
	z-index: 1;
}
.catalog-menu-title span:after,
.product-description h3 span:after,
.product-title strong:after,
.search-description h4:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(100% + 5px);
	border-bottom: 3px solid #d1213e;
}
.product-description h3 {
	padding-bottom: 6px;
}
.search-description:after {
	bottom: 8px;
}
.search-description {
	padding-bottom: 0;
}
.search-description h4 {
	display: inline-block;
}
.menu {
	border: 1px solid #afafaf;
}
.left-menu {
	margin: 20px auto 0;
}
.left-menu-title {
	font-size: 11px;
	font-weight: 600;
	padding-left: 30px;
	display: none;
	background-color: #ffffff;
}
.left-menu-title:after {
	content: ':';
}
.menu ul {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}
ul li.category-menu-item a {
	cursor: pointer;
}
.menu ul > li > a {
	transition-duration: .3s;
}
.menu ul > li > a:hover {
	font-weight: 600;
	padding-left: 25px;
}

li.category-menu-item ul li {
	overflow: hidden;
	width: 100%;
	max-height: 0;
	
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.menu > ul > li {
	background-color: #f5f8fa;
	display: block;
	border-bottom: 1px solid #afafaf;
}
.menu ul > li:last-child {
	border-bottom: none;
}
.menu ul > li a {
	display: block;
	padding-left: 30px;
}
.menu ul li a:first-letter {
	text-transform: uppercase;
}
li.category-menu-item.item-active > ul li a {
	padding-left: 45px;
	background-color: #ffffff;
	transition-duration: .3s;
}

li.category-menu-item.item-active .left-menu-title {
	display: block;
}

li.category-menu-item.item-active > ul li a:hover {
	padding-left: 40px;
}
li.category-menu-item.item-active > a {
	font-weight: 600;
}
li.category-menu-item.item-active ul > li {
	max-height: inherit;
}
.page-breadcrumbs {
	padding: 15px 0;
	list-style-type: none;
	text-align:center;
	margin-bottom: 0;
}
.page-breadcrumbs li {
	display: inline;
}
.page-breadcrumbs li i {
	position: relative;
	top: 1px;
}
.page-breadcrumbs li a,
.page-breadcrumbs li span {
	display: inline-block;
	color: #4aaad2;
	font-size: 13px;
	text-transform: uppercase;
}
.page-breadcrumbs li span {
	color: #bababa;
}
.page-breadcrumbs li a:hover {
	color: #838383;
}
.category-list {
	line-height: 1;
}
.category-list .subcategories {
	margin-left: 10px;
}
.category-list .subcategories a {
	font-size: 0.8rem;
}
.category-list .category > a {
	border-bottom: 1px solid #636b6f;
}
.category-title:first-letter {
	text-transform: uppercase;
}

.contacts-wrap,
.order-call button {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.contact {
	display: block;
}
.contact i {
	margin-right: 7px;
	color: #d1213e;
}

.button-group {
	margin-top: 20px;
	margin-bottom: 10px;
}

.default-product-img,
.default-product-img img {
	max-width: 250px;
	max-height: 250px;
}
#add-input,
.remove-input-block {
	cursor: pointer;
	font-size: 30px;
}

.img-preview {
	margin: 15px auto;
}
.img-item {
	position: relative;
	max-height: 75px;
	overflow: hidden;
}
.img-item img {
	width: 100%;
	opacity: 1;
	transition: opacity .3s ease-in-out;
}
.img-item .loading {
	background: url("../images/general/loader.svg");
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 40px;
	display: none;
	z-index: 1;
}
.remove-product-image {
	position: absolute;
	top: 10px;
	right: 25px;
	opacity: 0;
	transition: opacity .3s ease-in-out;
	font-size: 20px;
	cursor: pointer;
}
.img-item:hover img {
	opacity: 0.6;
}
.img-item:hover .remove-product-image {
	opacity: 1;
}

/* Product image gallery */

.product-image {
	max-width: 300px;
}
.xzoom-thumbs {
	margin-top: 10px;
}

/*.product-description p {
	text-indent: 15px;
}*/

.info-panel {
	background-color: #f1f1f1;
	padding: 15px;
}
.info-panel .page-title h1:first-letter {
	text-transform: uppercase;
}
.home-page-content {
	margin: 30px auto 0;
}

.product-btn {
	margin-top: 20px;
}

.content hr {
	margin-top: 0;
}

.product-title {
	margin-bottom: 10px;
}
.additional-info .info-label {
	min-height: 28px;
}
.additional-info .info-label span {
	font-size: 10px;
	color: #ffffff;
	display: inline-block;
	font-family: "MontserratBold", Tahoma, sans-serif;
}
.additional-info .info-label.new {
	background-color: #4aaad2;
}
.additional-info .info-label.bestseller {
	background-color: #26a750;
}
.additional-info .info-label.discount {
	background-color: #d1213e;
}

.product-price {
	margin-top: 15px;
}

.product-price strong span.discounted-price,
span.discounted-currency {
	color: #d1213e;
}
.old-price {
	font-size: 0.8rem;
}


/* Product-list styles */
.product-list ul {
	width: 100%;
}
.product-list ul li {
	width: 100%;
	padding: 0px;
	border: 1px solid #f5f8fa;
	transition: all 0.2s ease;
	margin: 10px auto;
}


.search-item {
	border: 1px solid #f5f8fa;
	margin: 10px auto;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all 0.2s ease;
}
.search-item > h2:first-letter {
	text-transform: uppercase;
}

.product-list ul li:last-child {
	margin-bottom: 0;
}
.product-list ul li:hover,
.search-item:hover {
	border-color: transparent;
	-webkit-box-shadow: 0 0 3px #afafaf;
	-moz-box-shadow: 0 0 3px #afafaf;
	box-shadow: 0 0 3px #afafaf;
	transform: scale(1.01);
}
.product-list ul li a {
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
}
.product-list ul li img {
	max-width: 100%;
}

.product-more {
	margin-top: 30px;
	display: inline-block;
}
.product-more:hover {
	color: #d1213e;
	font-weight: 600;
}


#product-slider .slick-arrow {
	opacity: 0;
}

#product-slider:hover .slick-arrow {
	opacity: 1;
}

#product-view {
	margin-top: 10px;
	margin-bottom: 15px;
}

#product-view .product-view.slick-slide {
	opacity: 0.2;
}

#product-view .product-view.slick-slide.slick-current {
	opacity: 1;
	-webkit-box-shadow: 0px 0px 0px 2px #D10024 inset;
	box-shadow: 0px 0px 0px 2px #D10024 inset;
}

#product-view .product-view {
	padding: 7.5px;
}

.product-view > img {
	width: 100%;
}
.product-image-wrap .slick-prev, .product-image-wrap .slick-next {
	width: 40px;
	height: 40px;
	background: #30323A;
	z-index: 22;
}
.product-image-wrap .slick-prev:hover,
.product-image-wrap .slick-prev:focus,
.product-image-wrap .slick-next:hover,
.product-image-wrap .slick-next:focus {
	background: #D10024;
}
.product-image-wrap .slick-prev:before,
.product-image-wrap .slick-next:before {
	color: #FFF;
}
.product-image-wrap .slick-prev {
	left: 15px;
}
.product-image-wrap .slick-next {
	right: 15px;
}
.product-image-wrap .slick-prev:before,
.product-image-wrap .slick-next:before {
	font-size: 30px;
	line-height: inherit;
}
.product-image-wrap .slick-prev:before {
	content: '‹';
}
.product-image-wrap .slick-next:before {
	content: '›';
}


@media screen and (max-width: 650px) {
	.product-wrap {
		margin-top: 20px;
	}
}

.up {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	background: rgba(16, 16, 16, 0.5);
	width: 32px;
	height: 32px;
	border-radius: 50%;
	text-align: center;
}
.up i {
	cursor: pointer;
	font-size: 30px;
	color: #e4e4e4;
}