.header-wrap,
.footer-wrap {
	color: #ffffff;
	padding: 10px 0;
}
.header-wrap {
	background: #636b6f;
}
.footer-wrap {
	background: #464e52;
}
.top-menu-wrap {
	background: #f5f8fa;
}
.errors-danger strong {
	color: #cb3b27;
}
.admin-wrap .panel-body {
	line-height: 34px;
}